.flight-search-form-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}

.flight-search-form-title {
  text-align: center;
}

.flight-card-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
