.flight-search-form-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flight-search-form-wrapper {
  display: flex;
  justify-content: center;
}

.flight-search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  border-radius: 10px;
}

.flight-search-form-title {
  text-align: center;
}
