.find-flight-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.flight-card-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.flight-card {
  text-align: left;
  width: 500px;
}
